:root {
  --main-background-color: #ffffff;
  --second-background-color: #2f303a;
  --logo-color: #2196f3;
  --header-second-logo-color: #000000;
  --footer-second-logo-color: #ffffff;
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --navigation-link-color: #212121;
  --contact-link-color: #757575;
  --button-background-color: #f5f4fa;
  --button-text-color: #212121;
  --accent-button-background-color: #2196f3;
  --accent-button-text-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* -------------header------------- */

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}
.header-logo {
  color: var(--header-second-logo-color);
}

.nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--navigation-link-color);
}

.current {
  color: var(--accent-color);
}

.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contact-link-color);
}

.nav-item:focus,
.nav-item:hover {
  color: var(--accent-color);
}

.header-contact:hover,
.header-contact:focus {
  color: var(--accent-color);
}

/* --------------section title page------------- */

.title-section {
  background-color: var(--second-background-color);
}

.main-title {
  font-family: Roboto;
  font-weight: 900;
  font-size: 1.36;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.title-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.title-button:focus,
.title-button:hover {
  cursor: pointer;
}

/* --------------section advatages------------- */

.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
}

.advantages-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* --------------section work------------- */

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

/* --------------section team------------- */

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.team-second-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* --------------footer------------- */

.footer {
  background-color: var(--second-background-color);
}

.footer-logo {
  color: var(--footer-second-logo-color);
}

.footer-addres-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-contact {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* --------------portfolio------------- */

.portfolio-button:focus,
.portfolio-button:hover {
  background-color: var(--accent-button-background-color);
  color: var(--accent-button-text-color);
  cursor: pointer;
}

.gallery-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}

.gallery-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
